# Exclude IntelliJ IDE files
.idea
*.iml

# Exclude any subfolder except "filters", that is the main Maven module for this
# project; any other module in any other folder should have its own repository.
/*/
!/filters

# Exclude local builds files
target
dependency-reduced-pom.xml

# Exclude local configuration files
config.properties
