<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date [%18thread] %5level | %40.40logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="TRACEOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="req-tracing" level="debug" additivity="false">
        <appender-ref ref="TRACEOUT"/>
    </logger>
    <logger name="net.sf.okapi" level="warn"/>
    <logger name="org.eclipse.jetty" level="warn"/>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>